doctype html

head
  title Pug
  link(rel="stylesheet" href="style.css" ) 
.nav
  ul
    li
      a.nav-link(href='/') Home
    li
      a.nav-link(href='/services')
        em Our Services
    li
       a.nav-link(href='contact') Contact Us
.wrapper
  main
    br
    br
    #homePagebox
      #anthony
        #socialMedia
          ol
            a(href='https://instagram.com')
              li#insta
            br
            a(href='https://tumblr.com/')
              li#tumblr
            br
            a(href='https://www.youtube.com')
              li#youtube
        img(src='https://geekflare.com/wp-content/uploads/2019/04/express-routing-logo-65137ed3c844d05124dcfdab28263c21-ec9c1-e1554576195344.png' alt='Anthony')